# =================================================================
# Core System Configuration
# =================================================================

# LATITUDE & LONGITUDE: Geographic coordinates for hyper-local tools like weather reporting.
LATITUDE: 0.0
LONGITUDE: 0.0


# DO NOT CHANGE:
VERSION: 1.5.0
